<app-nav></app-nav>
<div class="container">
  <div class="row d-flex contact-info">
    <div class="col-md-3 d-flex">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-map-signs">
            <img src="../../../../assets/img/round_account_circle_black_48dp.png">
          </span>
        </div>
        <h3 class="mb-4">Full Name</h3>
        <p><a> {{accountProfile.firstName}} {{accountProfile.lastName}} </a></p>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-paper-plane"><img src="../../../../assets/img/round_alternate_email_black_48dp.png">
          </span>
        </div>
        <h3 class="mb-4">Email Address</h3>
        <p>{{accountProfile.email}}</p>
      </div>
    </div>
    <div class="col-md-3 d-flex">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-globe"> <img
              src="../../../../assets/img/round_supervised_user_circle_black_48dp.png"></span>
        </div>
        <h3 class="mb-4">Role</h3>
        <p><a>{{accountProfile.role}}</a></p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="btn-group" style="margin-left: -3px;">
      <a class="btn btn-group size" style="background-color: #212529; color: white;" (click)="logout()">Logout</a>
    </div>
    <div class="btn-group" style="margin-left: 10px;" *ngIf="accountProfile.role=='ADMIN'">
      <a routerLink="/admin-page" class="btn btn-info size">Administration</a>
    </div>
  </div>
</section>